@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;

}

section {
  height: 100vh;
  color: black;
  font-family: 'Russo One', sans-serif
  
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
}
section h5{
  padding-top: 7px;
  text-align: center;
  font-size: 50%;
  font-family: 'Russo One', sans-serif;
}
.scam{

}
.scam h6{padding-top: 20%;
  text-align: center;
  font-size: 80%;
  font-family: 'Russo One', sans-serif;

}
#ep2{
  height: 70%;
  width: 100%;
  padding-bottom:20px;
  
}
